/* Pokemon Cards------------------------- */
.pokemon-card {
  height: 350px;
  width: 250px;
  position: relative;
  margin: 10px;
  cursor: pointer;
  transition: transform 160ms ease-in-out;
}

.pokemon-card:hover {
  transform: scale(1.08);
}

.pokemon-card-bg {
  height: 350px;
  width: 250px;
  object-fit: contain;
  border-radius: 15px;
  box-shadow: 0 5px 10px var(--shadow);
}

.pokemon-card-content {
  color: rgb(63, 63, 63);
  font-weight: 400;
  font-size: 17px;
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.pokemon-type_icon {
  height: 34px;
  width: 34px;
  position: absolute;
  top: 22px;
  left: 9px;
  border-radius: 50%;
}

.pokemon-image {
  position: absolute;
  top: 45px;
  height: 120px;
}

.pokemon-name {
  font-size: 25px;
  font-weight: 900;
  position: absolute;
  top: 178px;
  text-transform: capitalize;
}

.pokemon-stats-container {
  position: absolute;
  top: 217px;
  display: flex;
}

.pokemon-stat-title {
  border-top: 1px solid gray;
  border-right: 1px solid gray;
  margin-bottom: 4px;
  padding-right: 10px;
  padding-left: 10px;
}

.pokemon-stat {
  border-top: 1px solid gray;
  margin-bottom: 4px;
  padding-left: 10px;
  padding-right: 10px;
}

.stat-exp {
  font-weight: 800;
  line-height: 1.2;
}

.pokemon-stat-hp {
  width: 80px;
  text-align: right;
  font-size: 15px;
  font-weight: 700;
  position: absolute;
  top: 304px;
  left: 24px;
}

.poke-number {
  width: 91px;
  text-align: center;
  font-size: 23px;
  font-weight: 900;
  position: absolute;
  top: 300px;
  right: 34px;

  &.smaller {
    font-size: 19px;
    top: 302px;
    right: 33px;
  }
}