.footer {
  background-color: var(--color_light-green);
  color: #707070;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px var(--shadow);
  padding: 20px 12px;

  .footer_content {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.3rem
  }
}

.copyright {
  font-size: 16px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0.25rem;

  div {
    white-space: nowrap;
  }

  a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    white-space: nowrap;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.copyright a {
  color: #707070;
}