/* ------------------Section Overview------------ */

.pokecard-overview {
  background-color: var(--color_light-yellow);
  min-height: calc(100vh - 92px - 80px - (2 * 50px)); // - header - footer - padding
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

/* Search --------------------------------- */
.search-container {
  position: relative;
}

.search-container input {
  width: 300px;
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid gray;
  outline: none;
  margin: 1px;
}

.search-container input:focus {
  border: 2px solid rgb(77, 77, 77);
  margin: 0;
}

.search-icon_input {
  position: absolute;
  right: 0;
  cursor: pointer;
  padding: 5px;
  opacity: 0.6;
}

.search-icon_input:hover {
  opacity: 1;
}

.number-loaded {
  font-size: 21px;
  font-weight: 600;
  margin-top: 20px;
  text-align: center;
}

.no-search-result {
  text-align: center;
  line-height: 50px;
  font-size: 30px;
  font-weight: 700;
}

.loading {
  font-size: 30px;
  font-weight: 600;
  margin: 15px 5px;
}

.rotate {
  animation: rotation 1s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Button More ----------------------*/
.button-more-poke-container button {
  background-color: var(--color_light-red);
  font-size: 20px;
  font-weight: 100;
  padding: 10px;
  margin-top: 15px;
  border: 1px solid gray;
  border-radius: 10px;
  cursor: pointer;
}

.button-more-poke-container button:hover {
  background-color: var(--color_red);
}

/* Arrow Up ------------------------*/
.arrow-up-container {
  background-color: var(--color_light-red);
  width: 50px;
  height: 50px;
  font-size: 35px;
  position: fixed;
  right: 40px;
  bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  animation: fadeIn 300ms;
}

.fa-arrow-up::before {
  content: '\f062';
}