.pokecard-overview {
  background-color: var(--color_light-yellow);
  min-height: calc(100vh - 92px - 64px - (2 * 40px)); // - header - footer - padding
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}


@media(max-width: 1300px) {
  .pokecard-overview {
    min-height: calc(100vh - 92px - 64px - (2 * 24px)); // - header - footer - padding
    padding: 24px;
  }
}

@media(max-width: 600px) {
  .pokecard-overview {
    min-height: calc(100vh - 67px - 64px - (2 * 24px)); // - header - footer - padding
  }
}

.pokemon-cards-container {
  width: 100%;
  max-width: var(--max-width_content);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.number-loaded {
  font-size: 21px;
  font-weight: 600;
  text-align: center;
}

.no-search-result {
  text-align: center;
  line-height: 50px;
  font-size: 30px;
  font-weight: 700;
}

.loading {
  font-size: 30px;
  font-weight: 600;
  margin: 15px 5px;
}

.rotate {
  animation: rotation 1s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Button More ----------------------*/
.button-more-poke-container button {
  background-color: var(--color_light-red);
  font-size: 20px;
  font-weight: 100;
  padding: 10px;
  margin-top: 15px;
  border: 1px solid gray;
  border-radius: 10px;
  cursor: pointer;
}

.button-more-poke-container button:hover {
  background-color: var(--color_red);
}

/* Arrow Up ------------------------*/
.arrow-up-container {
  background-color: var(--color_light-red);
  width: 50px;
  height: 50px;
  font-size: 35px;
  position: fixed;
  right: 40px;
  bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  animation: fadeIn 300ms;
}

.fa-arrow-up::before {
  content: '\f062';
}

@media(max-width: 600px) {
  .arrow-up-container {
    right: 24px;
    bottom: 24px;
  }
}