@font-face{
  font-family: 'Consolas';
  font-style: normal;
  src: url("./assets/fonts/consola.woff") format("woff")
}

:root {
  --color_light-red: #FF7D7D;
  --color_red:#EF4036;
  --color_light-yellow: #FFF9C1;
  --color_light-green: #CFFFC5;
  --color_green: #2DF004;

  --shadow: rgba(128, 128, 128, 0.6);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root{
  width: 100%;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
}

